.Header {
  position: fixed;
  height: 115px;
  width: 100%;
  top: -35px;
  background-color: white;
  z-index: 999;
}
.logo {
  max-width: 60px;
}
.title {
  display: inline-block;
  position: relative;
  top: 15px;
  left: 8vw;
  color: rgb(41, 245, 5);
  font-size: 100%;
}
nav {
  position: relative;
  width: 50%;
  top: -50px;
  left: 40%;
  bottom: 40px;
}
nav > ul {
  list-style: none;
  width: 100%;
  text-align: end;
}
.menus {
  display: inline;
  margin-right: 15px;
  cursor: pointer;
}
.menus:hover {
  color: rgb(41, 245, 5);
  font-weight: bolder;
}
