.Search {
  position: relative;
  background-color: rgb(198, 245, 165);
  top: 80px;
  width: 100%;
  text-align: center;
  padding-bottom: 200px;
}
.searchBar {
  position: relative;
  width: 300px;
  height: 30px;
  top: 30px;
  font-size: 15px;
  border-radius: 12px;
}
.searchBar::placeholder {
  color: rgb(5, 158, 107);
  text-align: center;
}
.searchBtn {
  position: relative;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.searchItems {
  position: relative;
  top: 10px;
  left: 10%;
  width: 80%;
  height: 100%;
  min-height: 600px;
  background-color: aliceblue;
  border-radius: 10px;
}

.searchResult {
  position: relative;
  top: 30px;
}

.items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 300px;
}

.items:empty {
  all: unset;
}

.item {
  width: 33.3%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}
.item > div > a > img {
  width: 80%;
  height: 250px;
  background-color: rgba(232, 246, 203, 0.934);
  padding: 30px 15px 50px 15px;
  border-radius: 12px;
}
.item > div > a > h3 {
  position: relative;
  top: -60px;
}
.noitem {
  position: relative;
  margin-top: 10%;
  margin-bottom: 3%;
  width: 100%;
  font-size: 20px;
}
